.full-width-table {
  width: 100%;
}
.data-table {
	width: 80%;
	margin: 20px auto; 

}
td {
	vertical-align: inherit;
}

a.double-click {
	color: #3f51b5;
	text-decoration: unset;
	cursor: pointer;
}
a.double-click {
	color: #3f51b5;
	text-decoration: unset;
}
a.double-click:hover {
	color: #001275;
}